@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #0086C5;
}

#wholeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ED0E0F;
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 3%;
    border: 10px solid #202021;
}

#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    color: #FFC947;
    font-family: "Lobster";
    display: inline;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 37px;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: #FFC947;
    font-weight: 800;
    font-size: 20px;
    display: inline;
}

#drawBox {
    height: 960px;
    width: 960px;
    background-color: #EAE9E7;
    /* border-radius: 3%; */
    border: 5px solid #202021;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.undrawnBox {
    transition-duration: 0.3s;
    transition-property: background-color;
    border: 1px solid #20202111;
    box-sizing: border-box;
}

.drawnBox {
    background-color: #3D3E40;
    transition-duration: 0.3s;
    transition-property: background-color;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#buttons > button {
    background-color: #FBFAFF;
    border-radius: 100%;
    border: 5px solid #202021;
    height: 100px;
    width: 100px;
    margin: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-1deg);
    transition-duration: 0.5s;
    transition-property: transform;
}

#buttons > button:hover {
    transform: rotate(60deg);
    transition-duration: 0.5s;
    transition-property: transform;
}